{% extends "base.html" %}

{%block title%} 会员计划 {%endblock%}


{% block contents %}


    {# 引入宏组件 #}
    {% import 'component.html' as md %}
    


    <div class="nav_bk">
            <!-- 注册登录入口和登录模态窗口 -->
            {{md.login_panel(current_user=current_user,current_url='/price',next_url='/index')}}
            
            <h5>懒人会员计划</h5>
            <p>把100%的努力放在编程实践上，而非资料收集</p>
            <div class="nav_bk_bk">
                <img class="nav_bk_img" src="/static/img/other/homepage_bk.png" alt="">
            </div>
            
    </div>
    <div class="l-title-line"></div> 
    <div class="books-container  container">
    
    <!-- <div class="allproduct">
        <div class="row">
            
                <div class="center promo promo-example col s4 m4">
                    <i class="material-icons">flash_on</i>
                    <p class="promo-caption">视频课程</p>
                    <p class="light center">1132套课程收集整理</p>
                    <p class="light center">16套全领域汇总包</p>
                </div>

        </div>
        <div class="l-title-line"></div> 

    </div> -->
    

    <!-- 价格方案 -->
        
      <div class="row price_div">

        <div class="col s4 ">
          <div class="card price_card">
            {% if (current_user.is_authenticated) ==  False %}
                <span class="label label-success is_active-label gree">当前</span>
            {%endif%}
            <div class="card-content ">
                <span class="card-title">非注册会员<img src="/static/img/other/noname.png" class="vip_img  vip_price_img" alt=""></span>
                <span class="card-title"><h5 class="grey-text free_price" >免费</h5></span>
            </div>
 
            <div class="l-title-line"></div> 
            <div class="card-content price_content ">
                <ul>
                    <li>300+ 套完整课程整理</li>
                    <li>16+ 套全领域汇总包</li>
                    <li>200+ 本书学习书籍</li>
                    <br>
                    <li>单独购买兑换课程包</li>
                    <li>永久有效兑换码</li>
                    <li>凭码免费兑换新课程</li>
                    <br>
                    <li>学习书单查看</li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            {% if (current_user.is_authenticated) and (current_user.data.get('user_type') == 1) %}
                <!-- 除了高级会员，都显示课程购买 -->
            {%else%}
          
                <div class="card-action price_action">
                    <a  target="_blank" href="https://shop131223524.taobao.com/category.htm">获取课程兑换码</a>
                    <a href="/act">兑换课程</a>
                </div>

              
              
            {%endif%}
              </div>
        </div>

        <div class="col s4 ">
          <div class="card price_card">
            {% if (current_user.is_authenticated) and (current_user.data.get('user_type') == 0) %}
            <span class="label label-success is_active-label gree">您当前为免费会员</span>
            {%endif%}
            <div class="card-content ">
                <span class="card-title">免费会员<img src="/static/img/other/no_vip_price.png" class="vip_img  vip_price_img" alt=""></span>
                <span class="card-title"><h5  class="grey-text free_price">免费</h5></span>
            </div>
 
            <div class="l-title-line"></div> 
            <div class="card-content price_content">
            <ul>
                <li>300+ 套完整课程整理</li>
                <li>16+ 套全领域汇总包</li>
                <li>200+ 本学习书籍</li>
                <br>
                <li>单独购买兑换课程包</li>
                <li class="" >账户自动绑定已兑换课程</li>
                <li class="" >登录获取更新课程</li>
                <li class="" >会员限免课程</li>
                <br>
                <li class="" >学习书单查看</li>
                <li class="" >学习线路图和技能树（即将上线)</li>
                <li></li>
                <li></li>
            </ul>
            </div>
            {% if (current_user.is_authenticated) %}
                <!-- 已经是普通会员 -->
                {% if (current_user.is_authenticated) and (current_user.data.get('user_type') == 1) %}
                
                {%else%}
                    <div class="card-action price_action">
                      <a  target="_blank" href="https://shop131223524.taobao.com/category.htm">获取课程兑换码</a>
                    </div>
                {%endif%}
            {%else%}
                <div class="card-action price_action">

                    <a href="/register" >
                      <button type="button" class="btn btn-default grey darken-1  z-depth-0 price_button" aria-label="Left Align">注册会员</button>
                    </a>
                </div>
            {%endif%}
          </div>
        </div>



        <div class="col s4 ">
          <div class="card  price_card">
            {% if (current_user.is_authenticated) and (current_user.data.get('user_type') == 1) %}
                <span class="label label-success is_active-label gree">您当前已是VIP会员</span>
            {%endif%}
            <div class="card-content vip_title">
              <span class="card-title ">永久VIP会员<img src="/static/img/other/vip_price.png" class="vip_img  vip_price_img" alt=""></span>
              <span class="card-title red-text"><h5 class="red-text vip_price">68元/永久</h5></span>
              <p></p>
            </div>
            <div class="l-title-line"></div> 
            <div class="card-content  price_content ">
            <ul>
                <li>300+ 套完整课程整理</li>
                <li>16+ 套全领域汇总包</li>
                <li>200+ 本学习书籍</li>
                <br>
                
                <li class="">所有课程已激活，无需单独购买</li>
                <li class="" >登录获取更新课程</li>
                <!-- <li class="">VIP独家收录课程</li> -->
                <br>
                <li class="" >学习书单查看</li>
                <li class="" >书单PDF下载</li>
                <br>
                <li class="" >实战项目导航（即将上线)</li>
                <li class="" >学习线路图和技能树（即将上线)</li>
                <li class="" >岗位招聘数据统计（即将上线)</li>
                <li class="" ></li>
                <li></li>
            </ul>
            </div>
           
            {% if (current_user.is_authenticated) and (current_user.data.get('user_type') == 1) %}
                
                <!-- 已经是VIP不显示操作 -->


            {%else%}
             <div class="card-action price_action">
                  <a  target="_blank" href="https://shop131223524.taobao.com/category.htm" >
                      <button type="button" class="btn btn-default grey darken-1  z-depth-0 price_button" aria-label="Left Align">获取VIP激活码</button>
                  </a>
                  <a href="/vipactive">
                      <button type="button" class="btn btn-default grey darken-1  z-depth-0 price_button " aria-label="Left Align">VIP激活</button>
                  </a>
            </div>
            {% endif %}
           
          </div>
        </div>

      </div>

    </div>


{%endblock%}