
{% extends "base.html" %}

{%block title%} 项目导航 {%endblock%}


{% block contents %}


    {# 引入宏组件 #}
    {% import 'component.html' as md %}
    
    {# 项目内容区 #}
    <div class="container-flud project-container">
        

        {# 内容 #}
        <div class="row project-row">
            {# 导航 #}
            <div class="row project-row">
                <div class="left-project-nav col-md-2  ">
                   
                    <div class="project-nav-title">
                        {# <h5>项目导航</h5> #}
                        <p>实战项目导航</p>
                    </div>

                    <div class="l-title-line"></div>
                    <div class="project-nav-data">
                        
                        <ul class="section">
                            {# 项目分类导航 #}
                            {%for pj in project_data %}
                            <a href="#{{pj.project_cate_id}}"  >
                                <li class="project-nav-li">
                                    <div>
                                        <img src="{{pj.project_cate_img}}" alt="python">
                                        <p>{{pj.project_cate_name}}</p>
                                    </div>
                                </li>
                            </a>
                            {%endfor%}
                        </ul>

                    </div>
                </div>

            </div>
            <div class="left-project-left col-md-2"></div>
            <div class="right-project-data col-md-10">
                {# 导航数据 #}

                {%for pj in project_data %}
                <section class="project-data-section section scrollspy" id="{{pj.project_cate_id}}">
                    <h5 class="project-data-title">{{pj.project_cate_name}}</h5>
                    <div class="l-title-line"></div> 
                    <div class="row">
                        {%for project in pj.project_cate_data%}
                        <a href="{{project.project_url}}" class="project-data-a">
                            <div class="project-data-prject col-md-4  waves-effect ">
                                <span class="project-data-span">{{project.project_name}}</span>
                                <div class="l-title-line"></div> 
                                <p class="project-data-p">
                                {{project.project_desc}}</p>  
                                {%for tag in project.project_tag %}
                                    <div class="chip  project-chip">{{tag}}</div>
                                {%endfor%}
                            </div>
                        </a>
                        {%endfor%}
                
                    </div>

                </section>   
                {%endfor%}
            </div>
        </div>


    </div>
    
    {# 平滑滚动 #}
    <script>
    $(document).ready(function(){
        $('.scrollspy').scrollSpy();
    });
        
    </script>
    
 {%endblock%}

